{% extends '_layouts/main' %}

{% block main %}
<ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Drink Styles</li>
    <li>{{ category.title }}</li>
</ul>
<div class="full-bleed-header" style="background-size: 100%; height: 200px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/drinks/espresso-shot.jpg); background-repeat: no-repeat, repeat;">
    <div class="page-title text-center">
        <h2 class="logo"><span class="scripty">{{ category.title }}</h2>
    </div>
</div>
<div class="row">
        <div class="intro large-12 small-12 columns text-center">
                    <p>Do you like our styles?</p>
        </div>
    <div class="large-12 small-12 columns">
        <table width="100%">
            <tr>
                <th>Drink Name</th>
                <th>Added to Menu</th>
            </tr>
            {% for entry in craft.entries.section('drinks').relatedTo(category) %}
            <tr>

                <td><a href="{{ entry.url }}">{{ entry.title }}</a></td>
                <td>{{ entry.dateAddedToMenu | date('F j, Y') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}